# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Poetry virtual environments
# (assuming you're not using the system-wide installation method)
.poetry/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
*.idea/
*.sublime-*
*.pyc

# Environments
.env.*

# macOS files
.DS_Store

# Ignore pytest cache
.pytest_cache/

# Ignore local configuration files
*.local

# Ignore coverage reports
.coverage
coverage.xml
htmlcov/

*.yml
*.yaml
.secrets.baseline
.git/
.github/
.editorconfig
.dockerignore
Dockerfile
.gitignore
*.md
.flake8
*.txt
LICENSE
mongodata/
tests/
static/